<nav id="nav">
  <ul>
    <li><%= link_to "Search", chili_publisher_search_path %></li>
    <!-- Edit page is a portal to the Chili Publish Editor -->
    <li><%= link_to "Edit Documents", chili_publisher_editor_path %></li>
  </ul>
</nav>
<div class="clear"></div>