// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.current_document {


}

ul.document_list li{
  float:left;
  padding:1em;
  width:4em;
  height:4em;
}

#the_editor {
  
}