<h1>Chili Publishing Documents</h1>

<div class="current_document" >
  <h2>New Documents</h2>
  <ul class="document_list" >
    <% @documents.each do |d| %>
    <li class="document" >
      <img src="http://chili.my.dev/CHILI/<%= d[:icon_url] %>" />
      <%= d[:name]%>

      <%= link_to "Edit", chili_publisher_editor_path(:id => d[:doc_id], :doc => d[:name]) %>
    </li>
    <% end -%>
  </ul>
</div>
